In [1]:
import pandas as pd

In [4]:
df = pd.read_csv('/kaggle/input/ganison-dataset/Ganison_dataset_1.csv')

In [5]:
df.columns

Index(['school_name', 'year', 'StudentID', 'First Name', 'Last Name',
       'Year Level', 'Class', 'Subject', 'Answers', 'Correct Answers',
       'Question Number', 'Subject Contents', 'Assessment Areas',
       'sydney_correct_count_percentage', 'sydney_average_score',
       'sydney_participants', 'student_score', 'student_total_assessed',
       'student_area_assessed_score', 'total_area_assessed_score',
       'participant', 'correct_answer_percentage_per_class', 'average_score',
       'school_percentile', 'sydney_percentile', 'strength_status',
       'high_distinct_count', 'distinct_count', 'credit_count',
       'participant_count', 'award'],
      dtype='object')

# EDA

In [26]:
df.shape

(800000, 31)

**checking each col**

In [46]:
df["Year Level"]

0         1
1         1
2         1
3         1
4         1
         ..
799995    4
799996    4
799997    4
799998    4
799999    4
Name: Year Level, Length: 800000, dtype: int64

In [22]:
df.head(5)

,school_name,year,StudentID,First Name,Last Name,Year Level,Class,Subject,Answers,Correct Answers,...,correct_answer_percentage_per_class,average_score,school_percentile,sydney_percentile,strength_status,high_distinct_count,distinct_count,credit_count,participant_count,award
0,"Christ King Catholic School, Bass Hill",2022,1,First Name 1,Last Name 1,1,Class 1,Science,C,B,...,3.04,60.39,81,77,E,62,28,41,34,Participation
1,"Christ King Catholic School, Bass Hill",2022,1,First Name 1,Last Name 1,1,Class 1,Science,C,B,...,45.56,12.81,22,4,E,77,4,88,24,Participation
2,"Christ King Catholic School, Bass Hill",2022,1,First Name 1,Last Name 1,1,Class 1,Science,C,C,...,48.49,20.34,53,25,E,62,25,97,44,Participation
3,"Christ King Catholic School, Bass Hill",2022,1,First Name 1,Last Name 1,1,Class 1,Science,B,D,...,21.97,9.93,93,72,E,76,64,77,91,Participation
4,"Christ King Catholic School, Bass Hill",2022,1,First Name 1,Last Name 1,1,Class 1,Science,A,B,...,70.32,39.01,68,92,E,20,15,90,59,Participation

In [25]:
df["Answers","Correct Answers",]

0          3.04
1         45.56
2         48.49
3         21.97
4         70.32
          ...
799995    22.13
799996    35.07
799997    34.20
799998     7.67
799999    88.94
Name: correct_answer_percentage_per_class, Length: 800000, dtype: float64

**checking for each student**

In [39]:

new_df = df[['Class', 'Subject', 'Answers', 'Correct Answers', 
             'Question Number', 'Subject Contents', 'Assessment Areas','StudentID','student_score']]

In [40]:
filtered_df = new_df[new_df['StudentID'] == 1]

In [41]:
filtered_df

,Class,Subject,Answers,Correct Answers,Question Number,Subject Contents,Assessment Areas,StudentID,student_score
0,Class 1,Science,C,B,25,Subject Content 1 for Science,Assessment Area 1 for Science,1,47.13
1,Class 1,Science,C,B,22,Subject Content 2 for Science,Assessment Area 2 for Science,1,79.85
2,Class 1,Science,C,C,9,Subject Content 3 for Science,Assessment Area 3 for Science,1,62.28
3,Class 1,Science,B,D,3,Subject Content 4 for Science,Assessment Area 4 for Science,1,58.80
4,Class 1,Science,A,B,12,Subject Content 5 for Science,Assessment Area 5 for Science,1,38.64
5,Class 1,Science,B,A,11,Subject Content 6 for Science,Assessment Area 6 for Science,1,7.91
6,Class 1,Science,D,D,15,Subject Content 7 for Science,Assessment Area 7 for Science,1,68.97
7,Class 1,Science,C,B,5,Subject Content 8 for Science,Assessment Area 8 for Science,1,91.01
8,Class 1,Science,A,A,21,Subject Content 9 for Science,Assessment Area 9 for Science,1,72.07
9,Class 1,Science,A,B,24,Subject Content 10 for Science,Assessment Area 10 for Science,1,49.00
10,Class 1,Science,C,A,8,Subject Content 1 for Science,Assessment Area 1 for Science,1,0.03
11,Class 1,Science,D,A,23,Subject Content 2 for Science,Assessment Area 2 for Science,1,86.28
12,Class 1,Science,C,B,16,Subject Content 3 for Science,Assessment Area 3 for Science,1,62.26
13,Class 1,Science,A,Z,7,Subject Content 4 for Science,Assessment Area 4 for Science,1,26.30
14,Class 1,Science,A,D,10,Subject Content 5 for Science,Assessment Area 5 for Science,1,41.22
15,Class 1,Science,C,A,18,Subject Content 6 for Science,Assessment Area 6 for Science,1,89.86
16,Class 1,Science,B,A,13,Subject Content 7 for Science,Assessment Area 7 for Science,1,57.80
17,Class 1,Science,C,B,6,Subject Content 8 for Science,Assessment Area 8 for Science,1,97.51
18,Class 1,Science,C,D,14,Subject Content 9 for Science,Assessment Area 9 for Science,1,68.74
19,Class 1,Science,D,A,20,Subject Content 10 for Science,Assessment Area 10 for Science,1,86.29
20,Class 1,Science,C,D,1,Subject Content 1 for Science,Assessment Area 1 for Science,1,2.03
21,Class 1,Science,C,B,4,Subject Content 2 for Science,Assessment Area 2 for Science,1,69.56
22,Class 1,Science,C,A,2,Subject Content 3 for Science,Assessment Area 3 for Science,1,11.84
23,Class 1,Science,B,C,19,Subject Content 4 for Science,Assessment Area 4 for Science,1,64.55
24,Class 1,Science,A,B,17,Subject Content 5 for Science,Assessment Area 5 for Science,1,97.21
25,Class 1,Math,B,D,21,Subject Content 1 for Math,Assessment Area 1 for Math,1,26.54
26,Class 1,Math,D,Z,17,Subject Content 2 for Math,Assessment Area 2 for Math,1,22.02
27,Class 1,Math,C,B,18,Subject Content 3 for Math,Assessment Area 3 for Math,1,32.14
28,Class 1,Math,B,B,19,Subject Content 4 for Math,Assessment Area 4 for Math,1,18.93
29,Class 1,Math,B,D,6,Subject Content 5 for Math,Assessment Area 5 for Math,1,14.55
30,Class 1,Math,A,Z,5,Subject Content 6 for Math,Assessment Area 6 for Math,1,5.15
31,Class 1,Math,A,Z,14,Subject Content 7 for Math,Assessment Area 7 for Math,1,51.25
32,Class 1,Math,B,C,22,Subject Content 8 for Math,Assessment Area 8 for Math,1,57.61
33,Class 1,Math,B,B,3,Subject Content 9 for Math,Assessment Area 9 for Math,1,12.15
34,Class 1,Math,D,Z,24,Subject Content 10 for Math,Assessment Area 10 for Math,1,60.68
35,Class 1,Math,A,A,2,Subject Content 1 for Math,Assessment Area 1 for Math,1,64.05
36,Class 1,Math,B,Z,7,Subject Content 2 for Math,Assessment Area 2 for Math,1,85.06
37,Class 1,Math,D,B,9,Subject Content 3 for Math,Assessment Area 3 for Math,1,12.91
38,Class 1,Math,B,D,13,Subject Content 4 for Math,Assessment Area 4 for Math,1,31.62
39,Class 1,Math,A,A,10,Subject Content 5 for Math,Assessment Area 5 for Math,1,55.80
40,Class 1,Math,C,A,15,Subject Content 6 for Math,Assessment Area 6 for Math,1,23.50
41,Class 1,Math,C,C,1,Subject Content 7 for Math,Assessment Area 7 for Math,1,57.92
42,Class 1,Math,D,C,20,Subject Content 8 for Math,Assessment Area 8 for Math,1,97.85
43,Class 1,Math,D,A,8,Subject Content 9 for Math,Assessment Area 9 for Math,1,26.60
44,Class 1,Math,C,C,23,Subject Content 10 for Math,Assessment Area 10 for Math,1,20.44
45,Class 1,Math,D,Z,25,Subject Content 1 for Math,Assessment Area 1 for Math,1,11.09
46,Class 1,Math,D,D,4,Subject Content 2 for Math,Assessment Area 2 for Math,1,30.19
47,Class 1,Math,A,C,12,Subject Content 3 for Math,Assessment Area 3 for Math,1,26.96
48,Class 1,Math,C,A,16,Subject Content 4 for Math,Assessment Area 4 for Math,1,30.73
49,Class 1,Math,A,A,11,Subject Content 5 for Math,Assessment Area 5 for Math,1,66.29

**encode school names**

In [48]:
df['school_name'].nunique()

1

**seems like only has 1 school. lets see for all csvs**

In [55]:
import pandas as pd

for i in range(3, 7):
    path = f'/kaggle/input/ganison-dataset/ganison_dataset_{i}.csv'
    print(path)
    df_new = pd.read_csv(path)
    unique_schools = df_new['school_name'].unique()
    unique_count = df_new['school_name'].nunique()
    print(unique_schools,unique_count)

/kaggle/input/ganison-dataset/ganison_dataset_3.csv
['Christ King Catholic School, Bass Hill'] 1
/kaggle/input/ganison-dataset/ganison_dataset_4.csv
['Christ King Catholic School, Bass Hill'] 1
/kaggle/input/ganison-dataset/ganison_dataset_5.csv
['Christ King Catholic School, Bass Hill'] 1
/kaggle/input/ganison-dataset/ganison_dataset_6.csv
['Christ King Catholic School, Bass Hill'] 1

In [56]:
path = f'/kaggle/input/ganison-dataset/Ganison_dataset_2.csv'
df_new = pd.read_csv(path)
unique_schools = df_new['school_name'].unique()
unique_count = df_new['school_name'].nunique()
print(unique_schools,unique_count)

['Christ King Catholic School, Bass Hill'] 1

# **combining all of csv together**

In [3]:
import pandas as pd
import glob

csv_directory = '/kaggle/input/ganison-dataset/*.csv'

csv_files = glob.glob(csv_directory)

dataframes = []

for file in csv_files:
    df = pd.read_csv(file) 
    dataframes.append(df)  

combined_df = pd.concat(dataframes, ignore_index=True)

In [4]:
combined_df.shape

(4800000, 32)

**make school_id col 1 becz this has only 1 school**

In [5]:
combined_df['sch_id'] = 1

In [7]:
combined_df.columns

Index(['school_name', 'year', 'StudentID', 'First Name', 'Last Name',
       'Year Level', 'Class', 'Subject', 'Answers', 'Correct Answers',
       'Question Number', 'Subject Contents', 'Assessment Areas',
       'sydney_correct_count_percentage', 'sydney_average_score',
       'sydney_participants', 'student_score', 'student_total_assessed',
       'student_area_assessed_score', 'total_area_assessed_score',
       'participant', 'correct_answer_percentage_per_class', 'average_score',
       'school_percentile', 'sydney_percentile', 'strength_status',
       'high_distinct_count', 'distinct_count', 'credit_count',
       'participant_count', 'award', 'awarDistinction', 'sch_id'],
      dtype='object')

In [8]:
combined_df['awarDistinction'].unique()

array([nan, 'Distinction'], dtype=object)

**Have to remove columns that are unwanted and i cant grasp a meaning**

In [9]:
combined_df['distinct_count'].unique()

array([ 93,  59,  65,  76,  38,  45,  17,  36,  12,  86,  71,  21,  41,
        97,  30,  46,  26,  47,  73,  28,  66,   3,  99,  85,  15,  52,
        43,  63,  16,  49,  19,  39,  83,  87,  88,  60,   9,  34,  10,
        89,  42,  27,  95,  78,   7,  67,  35,  20,  22,  77,  56,  75,
        92,   2,  50,  96,  31,  55,  61,  37,   8,  11,   6,  24,  32,
        91,  13,  29,  51,  80,  57,  70,  14,  23,  94,  64,  79,   4,
        40,  90,   5,  82,  98,  53, 100,  48,  72,  25,  81,  58,  84,
        44,  54,  18,  74,  33,   1,  69,  62,  68])

In [69]:
columns_to_drop = ['awarDistinction', 'distinct_count','high_distinct_count','student_total_assessed'] 

filtered_df = combined_df.drop(columns=columns_to_drop)

In [11]:
filtered_df.shape

(4800000, 29)

In [12]:
filtered_df['Class'].unique()

array(['Class 8', 'Class 10', 'Class 2', 'Class 9', 'Class 12', 'Class 3',
       'Class 1', 'Class 11', 'Class 4', 'Class 7', 'Class 6', 'Class 5'],
      dtype=object)

**creating a class_id column**

In [100]:
unique_classes = filtered_df['Class'].unique()
class_mapping = {class_name: index + 1 for index, class_name in enumerate(unique_classes)}


filtered_df['class_id'] = filtered_df['Class'].map(class_mapping)

In [101]:
filtered_df['class_id']

0          1
1          1
2          1
3          1
4          1
          ..
4799995    9
4799996    9
4799997    9
4799998    9
4799999    9
Name: class_id, Length: 4800000, dtype: int64

In [18]:
filtered_df['award'].unique()

array(['Credit', 'High Distinction', nan, 'Distinction', 'Participation'],
      dtype=object)

**creating award_id**

In [95]:
award_mapping = {
    'Credit': 1,
    'High Distinction': 2,
    'Distinction': 3,
    'Participation': 4,
    None: 0  # Assuming NaN or None maps to 0
}
filtered_df['award_id'] = filtered_df['award'].map(award_mapping)

In [96]:
filtered_df[['award','award_id']]

                 award  award_id
0               Credit       1.0
1               Credit       1.0
2               Credit       1.0
3               Credit       1.0
4               Credit       1.0
...                ...       ...
4799995  Participation       4.0
4799996  Participation       4.0
4799997  Participation       4.0
4799998  Participation       4.0
4799999  Participation       4.0

[4800000 rows x 2 columns]

In [28]:
filtered_df['award_id'].unique()

array([1, 2, 0, 3, 4])

In [97]:
filtered_df['award_id'] = filtered_df['award_id'].fillna(0).astype(int)

In [98]:
filtered_df[['award_id','award']]

         award_id          award
0               1         Credit
1               1         Credit
2               1         Credit
3               1         Credit
4               1         Credit
...           ...            ...
4799995         4  Participation
4799996         4  Participation
4799997         4  Participation
4799998         4  Participation
4799999         4  Participation

[4800000 rows x 2 columns]

**lets fix subject now**

In [30]:
filtered_df["Subject"].unique()

array(['History', 'English', 'Science', 'Math', 'Art', 'Music'],
      dtype=object)

In [31]:
subject_mapping = {subject: idx + 1 for idx, subject in enumerate(filtered_df['Subject'].unique())}

filtered_df['subject_id'] = filtered_df['Subject'].map(subject_mapping)

In [32]:
filtered_df['subject_id'].unique()

array([1, 2, 3, 4, 5, 6])

In [33]:
filtered_df.columns

Index(['school_name', 'year', 'StudentID', 'First Name', 'Last Name',
       'Year Level', 'Class', 'Subject', 'Answers', 'Correct Answers',
       'Question Number', 'Subject Contents', 'Assessment Areas',
       'sydney_correct_count_percentage', 'sydney_average_score',
       'sydney_participants', 'student_score', 'student_area_assessed_score',
       'total_area_assessed_score', 'participant',
       'correct_answer_percentage_per_class', 'average_score',
       'school_percentile', 'sydney_percentile', 'strength_status',
       'credit_count', 'participant_count', 'award', 'sch_id', 'class_id',
       'award_id', 'subject_id'],
      dtype='object')

**answer_id col**

In [103]:
filtered_df['Answers'].unique()

array(['C', 'B', 'A', 'D'], dtype=object)

In [104]:
answer_mapping = {answer: idx + 1 for idx, answer in enumerate(filtered_df['Answers'].unique())}

filtered_df['answer_id'] = filtered_df['Answers'].map(answer_mapping)

**studentid seems okay lets just rename it**

In [37]:
filtered_df['StudentID'].unique()

array([    1,     2,     3, ..., 15998, 15999, 16000])

In [68]:
filtered_df.rename(columns={'StudentID': 'std_id'}, inplace=True)

**subject_id**

In [81]:
filtered_df["Subject"].unique()

array(['History', 'English', 'Science', 'Math', 'Art', 'Music'],
      dtype=object)

In [82]:
subj_mapping = {answer: idx + 1 for idx, answer in enumerate(filtered_df['Subject'].unique())}

filtered_df['subj_id'] = filtered_df['Subject'].map(subj_mapping)

In [87]:
filtered_df['Assessment Areas'].unique()

array(['Assessment Area 1 for History', 'Assessment Area 2 for History',
       'Assessment Area 3 for History', 'Assessment Area 4 for History',
       'Assessment Area 5 for History', 'Assessment Area 6 for History',
       'Assessment Area 7 for History', 'Assessment Area 8 for History',
       'Assessment Area 9 for History', 'Assessment Area 10 for History',
       'Assessment Area 1 for English', 'Assessment Area 2 for English',
       'Assessment Area 3 for English', 'Assessment Area 4 for English',
       'Assessment Area 5 for English', 'Assessment Area 6 for English',
       'Assessment Area 7 for English', 'Assessment Area 8 for English',
       'Assessment Area 9 for English', 'Assessment Area 10 for English',
       'Assessment Area 1 for Science', 'Assessment Area 2 for Science',
       'Assessment Area 3 for Science', 'Assessment Area 4 for Science',
       'Assessment Area 5 for Science', 'Assessment Area 6 for Science',
       'Assessment Area 7 for Science', 'Assessment Area 8 for Science',
       'Assessment Area 9 for Science', 'Assessment Area 10 for Science',
       'Assessment Area 1 for Math', 'Assessment Area 2 for Math',
       'Assessment Area 3 for Math', 'Assessment Area 4 for Math',
       'Assessment Area 5 for Math', 'Assessment Area 6 for Math',
       'Assessment Area 7 for Math', 'Assessment Area 8 for Math',
       'Assessment Area 9 for Math', 'Assessment Area 10 for Math',
       'Assessment Area 1 for Art', 'Assessment Area 2 for Art',
       'Assessment Area 3 for Art', 'Assessment Area 4 for Art',
       'Assessment Area 5 for Art', 'Assessment Area 6 for Art',
       'Assessment Area 7 for Art', 'Assessment Area 8 for Art',
       'Assessment Area 9 for Art', 'Assessment Area 10 for Art',
       'Assessment Area 1 for Music', 'Assessment Area 2 for Music',
       'Assessment Area 3 for Music', 'Assessment Area 4 for Music',
       'Assessment Area 5 for Music', 'Assessment Area 6 for Music',
       'Assessment Area 7 for Music', 'Assessment Area 8 for Music',
       'Assessment Area 9 for Music', 'Assessment Area 10 for Music'],
      dtype=object)

**assessment areas**

In [88]:
aa_mapping = {answer: idx + 1 for idx, answer in enumerate(filtered_df['Assessment Areas'].unique())}

filtered_df['assess_id'] = filtered_df['Assessment Areas'].map(aa_mapping)

In [89]:
filtered_df['assess_id']

0           1
1           2
2           3
3           4
4           5
           ..
4799995    31
4799996    32
4799997    33
4799998    34
4799999    35
Name: assess_id, Length: 4800000, dtype: int64

# **creating the new csv as tables needed for the sql**

In [41]:
filtered_df.columns

Index(['school_name', 'year', 'std_id', 'First Name', 'Last Name',
       'Year Level', 'Class', 'Subject', 'Answers', 'Correct Answers',
       'Question Number', 'Subject Contents', 'Assessment Areas',
       'sydney_correct_count_percentage', 'sydney_average_score',
       'sydney_participants', 'student_score', 'student_area_assessed_score',
       'total_area_assessed_score', 'participant',
       'correct_answer_percentage_per_class', 'average_score',
       'school_percentile', 'sydney_percentile', 'strength_status',
       'credit_count', 'participant_count', 'award', 'sch_id', 'class_id',
       'award_id', 'subject_id', 'answer_id'],
      dtype='object')

**schools table**

In [48]:
school_df = filtered_df[['sch_id', 'school_name']].drop_duplicates()
school_df.to_csv('school.csv', index=False)

In [49]:
school_df

   sch_id                             school_name
0       1  Christ King Catholic School, Bass Hill

**class table**

In [50]:
class_df = filtered_df[['class_id', 'Class']].drop_duplicates()
class_df.to_csv('class.csv', index=False)

In [52]:
class_df.shape

(12, 2)

**award**

In [53]:
awards_df = filtered_df[['award_id', 'award']].drop_duplicates()
awards_df.to_csv('award.csv', index=False)

In [54]:
awards_df

         award_id             award
0               1            Credit
800000          2  High Distinction
1600000         0               NaN
2400000         3       Distinction
4000000         4     Participation

**answers**

In [55]:
answers_df = filtered_df[['answer_id', 'Answers']].drop_duplicates()
answers_df.to_csv('answer.csv', index=False)

In [56]:
answers_df

   answer_id Answers
0          1       C
1          2       B
3          3       A
4          4       D

**students- here the names are encoded since their identities should be kept safe**

In [70]:
filtered_df.columns

Index(['school_name', 'year', 'StudentID', 'First Name', 'Last Name',
       'Year Level', 'Class', 'Subject', 'Answers', 'Correct Answers',
       'Question Number', 'Subject Contents', 'Assessment Areas',
       'sydney_correct_count_percentage', 'sydney_average_score',
       'sydney_participants', 'student_score', 'student_area_assessed_score',
       'total_area_assessed_score', 'participant',
       'correct_answer_percentage_per_class', 'average_score',
       'school_percentile', 'sydney_percentile', 'strength_status',
       'credit_count', 'participant_count', 'award', 'sch_id'],
      dtype='object')

In [60]:

columns_to_drop = ['Last Name'] 
filtered_df = combined_df.drop(columns=columns_to_drop)

In [71]:
filtered_df.rename(columns={'First Name': 'full_name'}, inplace=True)

In [74]:
filtered_df.rename(columns={'StudentID': 'std_id'}, inplace=True)

In [75]:
filtered_df.columns

Index(['school_name', 'year', 'std_id', 'full_name', 'Last Name', 'Year Level',
       'Class', 'Subject', 'Answers', 'Correct Answers', 'Question Number',
       'Subject Contents', 'Assessment Areas',
       'sydney_correct_count_percentage', 'sydney_average_score',
       'sydney_participants', 'student_score', 'student_area_assessed_score',
       'total_area_assessed_score', 'participant',
       'correct_answer_percentage_per_class', 'average_score',
       'school_percentile', 'sydney_percentile', 'strength_status',
       'credit_count', 'participant_count', 'award', 'sch_id'],
      dtype='object')

In [76]:
std_df = filtered_df[['std_id', 'full_name']].drop_duplicates()
std_df.to_csv('student.csv', index=False)

In [77]:
std_df

        std_id         full_name
0            1      First Name 1
50           2      First Name 2
100          3      First Name 3
150          4      First Name 4
200          5      First Name 5
...        ...               ...
799750   15996  First Name 15996
799800   15997  First Name 15997
799850   15998  First Name 15998
799900   15999  First Name 15999
799950   16000  First Name 16000

[16000 rows x 2 columns]

**subject tble**

In [84]:
subj_df = filtered_df[['subj_id', 'Subject']].drop_duplicates()
subj_df.to_csv('subject.csv', index=False)

In [85]:
subj_df

         subj_id  Subject
0              1  History
25             2  English
800000         3  Science
800025         4     Math
1600000        5      Art
1600025        6    Music

**assessment areas to csv**

In [90]:
filtered_df.rename(columns={'Assessment Areas': 'assess_area'}, inplace=True)

In [91]:
assess_df = filtered_df[['assess_id', 'assess_area']].drop_duplicates()
assess_df.to_csv('assess.csv', index=False)

In [93]:
assess_df.shape

(60, 2)

**summary table**

In [105]:
filtered_df.columns

Index(['school_name', 'year', 'std_id', 'full_name', 'Last Name', 'Year Level',
       'Class', 'Subject', 'Answers', 'Correct Answers', 'Question Number',
       'Subject Contents', 'assess_area', 'sydney_correct_count_percentage',
       'sydney_average_score', 'sydney_participants', 'student_score',
       'student_area_assessed_score', 'total_area_assessed_score',
       'participant', 'correct_answer_percentage_per_class', 'average_score',
       'school_percentile', 'sydney_percentile', 'strength_status',
       'credit_count', 'participant_count', 'award', 'sch_id', 'subj_id',
       'assess_id', 'award_id', 'class_id', 'answer_id'],
      dtype='object')

In [106]:
summary_df = filtered_df[['sch_id', 'sydney_participants','sydney_percentile','assess_id','award_id','class_id','correct_answer_percentage_per_class','Correct Answers','std_id','participant','student_score','subj_id','Year Level','answer_id']].drop_duplicates()
summary_df.to_csv('summary.csv', index=False)

# **write to database**

In [ ]:
import pandas as pd
from sqlalchemy import create_engine

engine = create_engine('mysql://avnadmin:AVNS__C9FKK7Q-EONQ87AQFi@octopusbi-octopusdb.i.aivencloud.com:19423/defaultdb?ssl-mode=REQUIRED')

summary_df.to_sql('summary', con=engine, if_exists='replace', index=False)
assess_df.to_sql('assess', con=engine, if_exists='replace', index=False)
subj_df.to_sql('subject', con=engine, if_exists='replace', index=False)
std_df.to_sql('student', con=engine, if_exists='replace', index=False)
answers_df.to_sql('answers', con=engine, if_exists='replace', index=False)
awards_df.to_sql('awards', con=engine, if_exists='replace', index=False)
school_df.to_sql('school', con=engine, if_exists='replace', index=False)